<p>ceps-listar works!</p>
<div *ngIf="enderecos.length != 0">
    <table  mat-table [dataSource]="enderecos" class="mat-elevation-z8">
        <ng-container matColumnDef="Cep">
            <th mat-header-cell *matHeaderCellDef>CEP</th>
            <td mat-cel *matCellDef="let endereco">{{endereco.Cep}}</td>
        </ng-container>
        <ng-container matColumnDef="Logradouro">
            <th mat-header-cell *matHeaderCellDef>LOGRADOURO</th>
            <td mat-cel *matCellDef="let endereco">{{endereco.Logradouro}}</td>
        </ng-container>
        <ng-container matColumnDef="Complemento">
            <th mat-header-cell *matHeaderCellDef>COMPLEMENTO</th>
            <td mat-cel *matCellDef="let endereco">{{endereco.Complemento}}</td>
        </ng-container>
        <ng-container matColumnDef="Bairro">
            <th mat-header-cell *matHeaderCellDef>BAIRRO</th>
            <td mat-cel *matCellDef="let endereco">{{endereco.Bairro}}</td>
        </ng-container>
        <ng-container matColumnDef="Localidade">
            <th mat-header-cell *matHeaderCellDef>LOCALIDADE</th>
            <td mat-cel *matCellDef="let endereco">{{endereco.Localidade}}</td>
        </ng-container>
        <ng-container matColumnDef="UF">
            <th mat-header-cell *matHeaderCellDef>UF</th>
            <td mat-cel *matCellDef="let endereco">{{endereco.UF}}</td>
        </ng-container>
        <ng-container matColumnDef="ACTIONS" >
            <th mat-header-cell *matHeaderCellDef >Actions</th>
            <td mat-cel class ="material-icons" *matCellDef="let endereco">
                <span (click)="deleteAddress(endereco.id)">delete</span>
                <span (click)="editAddress(endereco.id)">mode_edit</span>
        </ng-container>
       <tr mat-header-row *matHeaderRowDef="colunas" ></tr>
       <tr mat-row *matRowDef="let row; columns: colunas"></tr>
    </table>
</div>